.fourImage {
    width: 100%;
    display: table;
    text-align: center;
    /* padding: 20px 30px; */
    box-sizing: border-box;
}

.ratio-wrapper {
    position: relative;
    overflow: hidden;
}

.ratio-wrapper .ratio-item img{
    width: 300px;
    height: 300px;
}

.mask {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    transition: all .5s ease-out;
}

.img-item {
    position: relative;
    top: 0px;
    margin-bottom: -15px;
    transition: all .5s ease-out;
}

.detail-block {
    display: inline-block;
    border: 8px solid white;
}

.detail-block:hover .mask {
    background: rgba(255, 255, 255, 0.4);
}

.detail-block:hover .img-item {
    top: -10px;
}

.info {
    width: 100%;
    /* float: left; */
    text-align: inherit;
    padding: 30px;
    box-sizing: border-box;
    padding: 9px 54px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.info1 {
    width: 33%;
    display: inline-table;
    padding: 20px;
    box-sizing: border-box;
}

h5 {
    font-size: 1.125em;
    margin: 8px 0;
    font-weight: 5;
}

a {
    text-decoration: none
}

.display-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:  space-around;
}

/*	body {margin: 0;}*/

.big-contain {
    position: relative;
    width: 100%;
    position: fixed;
    height: 100vh;
    z-index: 5;
    text-align: center;
    box-sizing: border-box;
    display: none;
    background-color: rgba(0, 0, 0, 0.70);
    top: 0;
}

.button {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10;
    top: 50vh;
    margin-top:  -20px;
    padding: 0px 30px;
    box-sizing: border-box;
}

.cursor {
    cursor: pointer;
}

.display-container {}

.display-container button {
    background-color: transparent!important;
    display: block;
    border: none;
}

.button button {
    color: #CCCCCC;
    background-color: transparent!important;
    border: none;
}

.mySlides {
    box-sizing: border-box
}

.closer {
    position: absolute;
    top: 43px;
    right: 273px;
}

@media screen and (max-width: 755px){
    .info1{
        width: 100%;
        float: none;
    }
}